<div class="shell">
    <header class="shell__header no-print">>
        <div class="container">
            <div class="brand">
                <div class="brand__title">CV Tech</div>
                <div class="brand__sub">Angular</div>
            </div>

            <div class="actions">
                <button class="btn" type="button" (click)="print()">Exporter PDF</button>
            </div>
        </div>
    </header>

    <main class="shell__main">
        <div class="container">
            <router-outlet />
        </div>
    </main>

    <footer class="shell__footer no-print">
        <div class="container">
            <span>© © {{ currentYear }} — CV Tech — CV Tech</span>
        </div>
    </footer>
</div>